	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/10/2016 00:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-clock:before { content: "\f100"; }
.flaticon-contact-form:before { content: "\f101"; }
.flaticon-envelope:before { content: "\f102"; }
.flaticon-fence:before { content: "\f103"; }
.flaticon-forest:before { content: "\f104"; }
.flaticon-gardening:before { content: "\f105"; }
.flaticon-house:before { content: "\f106"; }
.flaticon-link:before { content: "\f107"; }
.flaticon-people:before { content: "\f108"; }
.flaticon-phone-call:before { content: "\f109"; }
.flaticon-placeholder:before { content: "\f10a"; }
.flaticon-shop:before { content: "\f10b"; }
.flaticon-shovel:before { content: "\f10c"; }
.flaticon-shovel-1:before { content: "\f10d"; }
.flaticon-sprout:before { content: "\f10e"; }
.flaticon-swimming-pool:before { content: "\f10f"; }
.flaticon-tree-leaf:before { content: "\f110"; }