/*
Theme Name: Iceland
Theme URI: http://wordpressbucket.com/
Author: wpbucket
Author URI: http://wordpressbucket.com/author
Description: Iceland is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Iceland will make your WordPress look beautiful everywhere.
Version: 1.3
License: Themeforest License
License URI: https://themeforest.net/licenses
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the https://themeforest.net/licenses.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*------------------------------------------------------------------
    File Name: style.css
    Template Name: Iceland
    Created By: Similar Icons
    Envato Profile: http://themeforest.net/user/similaricons
    Website: https://similaricons.com
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    [Table of contents]

    1. IMPORT FILES
    2. SKELETON
    3. WP CORE
    4. HEADER
    5. SECTIONS
    6. PRICING
    7. CONTACT
    8. BLOG & PAGE
    9. WIDGETS
    10. SLIDER
    11. MODULES
    12. FOOTER
    13. SHOP
    14. MISC
    15. RESPONSIVE

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    1. IMPORT FILES
-------------------------------------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i';

@import url(css/animate.css);
@import url(css/font-awesome.min.css);
@font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.eot");
    src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon.ttf") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-clock:before {
    content: "\f100";
}

.flaticon-contact-form:before {
    content: "\f101";
}

.flaticon-envelope:before {
    content: "\f102";
}

.flaticon-fence:before {
    content: "\f103";
}

.flaticon-forest:before {
    content: "\f104";
}

.flaticon-gardening:before {
    content: "\f105";
}

.flaticon-house:before {
    content: "\f106";
}

.flaticon-link:before {
    content: "\f107";
}

.flaticon-people:before {
    content: "\f108";
}

.flaticon-phone-call:before {
    content: "\f109";
}

.flaticon-placeholder:before {
    content: "\f10a";
}

.flaticon-shop:before {
    content: "\f10b";
}

.flaticon-shovel:before {
    content: "\f10c";
}

.flaticon-shovel-1:before {
    content: "\f10d";
}

.flaticon-sprout:before {
    content: "\f10e";
}

.flaticon-swimming-pool:before {
    content: "\f10f";
}

.flaticon-tree-leaf:before {
    content: "\f110";
}


/*------------------------------------------------------------------
    2. SKELETON
-------------------------------------------------------------------*/

body {
    color: #787878;
    font-size: 14px;
    line-height: 1.80857;
    padding: 0;
    font-weight: 400;
    background-color: #f3f3f3;
}

body,
p,
li,
.tp.caption.NotGeneric-Title,
.NotGeneric-Title,
.header-contact p,
.navbar-nav > li > a {
    font-family: 'Droid Serif', sans-serif !important;
}

.related-posts .entry p,
.tp-caption.NotGeneric-SubTitle,
.NotGeneric-SubTitle,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif !important;
}

a {
    color: #212121;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    position: relative;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 140%;
    color: #212121;
    margin: 0
}

h1 {
    font-size: 28px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 21px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #212121;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
}

blockquote {
    background: #f1edea none repeat scroll 0 0;
    border: 0 none;
    font-size: 16px;
    font-style: italic;
    margin: 20px 0;
    padding: 30px;
}


/*------------------------------------------------------------------
    3. WP CORE
-------------------------------------------------------------------*/

.drop-cap::first-letter {
    float: left;
    font-size: 400%;
    font-weight: bold;
    color: #ffffff;
    background-color: #171717;
    padding: 10px;
    line-height: 100%;
    margin: 10px 20px 0 0;
}

.first {
    clear: both
}

.last {
    margin-right: 0
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

a img.alignnone {
    margin: 10px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/*------------------------------------------------------------------
     4. HEADER
-------------------------------------------------------------------*/

.header {
    padding: 40px 0 0;
    border-top: 3px solid #212121;
}

.header .container-fluid {
    max-width: 1460px;
}

.navbar-default,
.navbar,
.navbar-nav,
.nav {
    border-radius: 0;
    border: 0;
    margin: 0 !important;
}

.navbar-default {
    padding: 15px 0;
    bottom: -35px;
    border-radius: 3px;
    z-index: 10;
    background-color: #F57C00;
}

.navbar-nav > li {
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
}

.navbar-nav > li:first-child {
    border-left: 1px dashed rgba(255, 255, 255, 0.3);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 15px;
    background-color: #1d1f1d;
    border: 0;
}

.navbar-nav > li > a {
    color: #fcfcfc !important;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 18px;
    text-transform: capitalize;
}

.navbar-nav > li:hover a {
    opacity: 0.8;
}

.navbar-brand {
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0;
    line-height: 1.4;
    white-space: nowrap;
}

.copyrights .fa-angle-up {
    background-color: #212121;
    display: block;
    color: #fcfcfc !important;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    margin: 0px 3px 0 3px;
    padding: 0;
    text-align: center;
    width: 30px;
}

.navbar-default .dropdown-menu > li:hover,
.navbar-default .dropdown-menu > li:focus,
.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #ffffff !important;
}

.navbar-default .dropdown-menu {
    border: 1px solid #efefef;
    border-radius: 0;
    box-shadow: none;
}

.navbar-default .dropdown-menu > li {
    padding: 3px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a,
.navbar-default .dropdown-menu > li > a {
    background-color: transparent !important;
    color: #979797 !important;
    padding: 5px 20px;
}

.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a {
    padding: 5px 30px;
}

.topbar {
    padding: 18px 0 15px;
    background-color: #212121;
}

.topbar-panel .panel-heading,
.topbar-panel .panel-body,
.topbar-panel {
    position: relative;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.clickable {
    background-color: #212121;
    display: block;
    height: 35px;
    line-height: 34px;
    padding: 0;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    font-size: 21px;
    right: 10%;
    text-align: center;
    top: 47px;
    border-radius: 0 0 3px 3px;
    width: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.clickable.panel-collapsed {
    top: 0;
}

.topbar p,
.topbar li,
.topbar a {
    line-height: 1;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.header-contact p {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

.header-contact {
    padding: 0;
}

.header-contact i {
    font-size: 30px !important;
    margin: 12px 20px 0 0;
}

.header-contact p {
    line-height: 24px;
    font-size: 14px;
}


/*------------------------------------------------------------------
    5. SECTIONS
-------------------------------------------------------------------*/

.m45 {
    margin-top: 90px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#wrapper {
    background-color: #fff;
}

.section {
    display: block;
    position: relative;
    padding: 90px 0;
}

.nohidden {
    overflow: visible;
}

.section.lb {
    background-color: #f1edea;
}

.section.db {
    background-color: #212121;
}

.section-title i {
    position: absolute;
    font-size: 63px;
    top: -12%;
    left: 0;
    margin: 29px 0;
    right: auto;
    bottom: 0;
    opacity: 0.2;
    filter: alpha(opacity=20);
    /* For IE8 and earlier */
    z-index: 0;
    text-align: center;
}

.db .section-title i {
    color: #ffffff;
}

.section-widget .lead,
.section-title .lead,
.about-widget .lead {
    color: #aaaaaa;
    padding: 12px 0 9px;
}

.db .section-title h3 {
    color: #ffffff;
}

.section-title .lead {
    padding-top: 10px;
}

.section-title h3,
.big-title h3 {
    font-size: 28px;
    padding: 0;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.section-title {
    padding-left: 80px;
    margin-bottom: 45px;
    display: block;
    position: relative;
}

.section-title.text-center {
    padding-left: 0;
}

.section-title .lead {
    margin-bottom: 0;
    padding-bottom: 0;
}

.small-title h4 {
    font-size: 18px;
    padding: 20px 0 10px;
    font-weight: 800;
}

.small-title h4 i {
    vertical-align: middle;
    padding-right: 5px;
}

.section-button {
    display: block;
    margin-top: 45px;
}

.section-button .btn {
    font-size: 16px;
    padding: 12px 42px;
    text-transform: uppercase;
}

.section-button .btn i {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    background-color: #fff;
    margin-left: 10px;
}


/*------------------------------------------------------------------
    6. PRICING
-------------------------------------------------------------------*/

.pricing-box-03 {
    padding: 30px 30px 60px;
    background-color: #333;
    position: relative;
    -webkit-box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: 20px solid transparent;
    border-image: url("images/border.png") 30;
}

.pricing-box-03.leftbg::before,
.pricing-box-03.nobg::before {
    display: none;
}

.pricing-box-03.rightbg::before {
    background: rgba(0, 0, 0, 0) url("images/right.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 374px;
    left: -84px;
    position: absolute;
    top: -65px;
    width: 402px;
    z-index: 0;
}

.pricing-box-03.leftbg::after {
    background: rgba(0, 0, 0, 0) url("images/left.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 374px;
    right: -84px;
    position: absolute;
    bottom: -65px;
    width: 402px;
    z-index: 0;
}

.pricing-box-03-body ul {
    padding: 0;
}

.pricing-box-03-body ul li {
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    list-style: none;
    letter-spacing: 1px;
}

.pricing-box-03-body ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pricing-box-03-head {
    padding: 20px 0 15px;
    display: block;
    position: relative;
}

.pricing-box-03-head h3 {
    color: #ffffff;
    padding: 25px 0 10px;
    font-size: 34px;
    margin: 0;
}

.pricing-box-03-head h3 sup {
    font-size: 15px;
}

.pricing-box-03-head h4 {
    color: #60A543;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.pricing-box-03 .btn {
    padding: 5px 20px;
    font-size: 13px;
    margin-top: 5px;
    background-color: #60A543;
    border-color: #60A543;
    position: relative;
    z-index: 1;
}

.pricing-box-03.white-style {
    background-color: #ffffff;
}

.pricing-box-03.white-style li {
    color: #555555;
    border-color: rgba(55, 55, 55, 0.1);
}


/*------------------------------------------------------------------
    7. CONTACT
-------------------------------------------------------------------*/

#message {
    display: none;
    padding: 20px 0;
    position: relative;
    text-align: left;
}

#map {
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 1;
}

#map img {
    max-width: inherit;
}

.loader {
    margin-left: 10px;
}

.map {
    position: relative;
}

.map .row {
    position: relative;
}

.infobox img {
    width: 100% !important;
}

.map .searchmodule {
    padding: 18px 10px;
}

.infobox {
    display: block;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    width: 260px;
    z-index: 100;
}

.infobox .title {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}


/*------------------------------------------------------------------
    8. BLOG & PAGES
-------------------------------------------------------------------*/

.pagenot h2 {
    font-weight: 900;
    font-size: 200px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.pagenot h1 {
    padding: 30px 0;
    margin: 0;
    line-height: 1;
}

.pagenot .lead {
    line-height: 1.8;
    margin-bottom: 0;
    font-style: italic;
}

.page-title {
    padding: 60px 0;
    text-align: center;
    background-color: #f1edea;
}

.page-parallax {
    padding: 120px 0;
}

.page-title .section-title p,
.page-title .section-title {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.page-title .section-title {}

.pagination-wrap {
    margin-top: 30px;
    padding: 10px 0;
    display: block;
    position: relative;
    border-top: 1px solid #efefef;
}

.pagination > li {
    border: 0;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #fff;
    border: 0 none !important;
    color: #212121;
    float: left;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 5px 10px;
    border-radius: 0 !important;
    position: relative;
    text-decoration: none;
}

.gardener-list .col-md-3 {
    margin-bottom: 40px;
}

.blog-grid .col-md-4 {
    margin-bottom: 30px;
}

.blog-posts img {
    margin-top: 0px;
    max-width: 80px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog-posts {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.blog-posts li {
    display: table;
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}

.blog-posts li:last-child {
    margin-bottom: 0;
}

.blog-posts p a {
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3px;
    display: block;
    text-transform: none;
}

.blog-posts li p {
    padding: 0;
    margin: 0;
}

.blog-posts li small {
    color: #b7b7b7;
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 2px 0 0;
}

.blog-wrapper small a,
.blog-wrapper small {
    color: #aaaaaa;
}

.comments img {
    max-width: 80px;
    margin-right: 20px
}

.comments {
    padding: 0!important;
    margin: 0!important
}

.panel,
.panel-body,
.panel-info {
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.comments .text-success {
    color: #333;
    margin-bottom: 5px;
    display: inline-block
}

.comments .text-muted {
    color: #777;
    margin-left: 3px;
    font-size: 11px !important;
}

.comments .media-list li {
    border: 1px solid #f1edea;
    margin: 20px 0;
    background-color: transparent;
    display: block;
    padding: 20px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
}

.contact_form.comment-form .form-control {
    border: 1px solid #f1edea !important;
    height: 40px;
}

.comments .media-list li p {
    margin: 0;
    padding: 0
}

.comments .btn, .comment-reply-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    padding: 3px 10px
}

.content-widget {
    display: block;
    margin-top: 40px;
}

.blog-wrapper small, blockquote p:last-child {
    padding: 20px 0 0;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}
blockquote p:last-child::before {
    content: '\2014 \00A0';
}

.blog-wrapper h4 {
    padding: 5px 0 10px;
    text-transform: capitalize;
}

.blog-wrapper .readmore {
    margin: 10px 0 0;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    display: block;
}

.blog-wrapper .single-blog h4 {
    padding: 10px 0 15px;
    text-transform: capitalize;
}
.blog-post-title{
	font-size:24px!important;
}
.calloutbox {
    padding: 40px 0;
}

.calloutbox h4 {
    color: #ffffff;
    font-size: 26px;
    line-height: 1.5;
    padding: 0 0px;
    margin: 0;
}

mark {
    padding: 0 10px;
}

.img-circle img {
    border-radius: 50%;
}

/*------------------------------------------------------------------
    9. WIDGETS
-------------------------------------------------------------------*/

.sidebar .widget {
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.sidebar .form-control {
    background-color: #f1edea;
    border-radius: 0;
    height: 50px;
    border: 1px solid #ededed;
    font-size: 13px;
    box-shadow: none !important
}

.tags a {
    background: #f1edea none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 4px 16px;
}

.single-blog .tags {
    display: block;
    margin-top: 30px;
}

.blog-wrapper .related-posts .entry small {
    display: block;
    margin: 5px 0 0 0 !important;
    text-transform: capitalize;
    font-size: 12px;
    padding-top: 0;
}

.related-posts .entry p {
    margin-bottom: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.6;
}

.related-posts .entry {
    border-bottom: 1px dashed #ededed;
    margin-bottom: 10px;
    padding: 0 10px 10px 0 !important;
    display: block;
}

.related-posts .entry:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0;
}

.widget-title {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.widget-title h3 {
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.footer .widget-title h3 {
    color: #ffffff;
}

.widget-title hr {
    margin-left: 0;
    width: 65px;
    border-width: 3px;
}

.twitter-posts {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.twitter-posts li {
    display: table;
    padding: 0 0 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    list-style: none;
}

.twitter-posts li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.twitter-posts p {
    line-height: 28px;
    margin: 7px 0 0;
    color: #787878;
    padding-bottom: 0;
    text-transform: none;
}

.twitter-posts p a {
    border-bottom: 1px solid #f3d900;
}

.twitter-posts li p {
    padding: 0;
    margin: 0;
}

.twitter-posts li small {
    color: #b7b7b7;
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 2px 0 0;
}

.readmore {
    background-color: #212121;
    border-radius: 3px;
    color: #ffffff !important;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 8px;
    display: text-bottom;
    padding: 5px;
}

.blog-posts img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

.blog-posts img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.footer-newsletter .form-control::-moz-placeholder {
    color: #737373;
    opacity: 1;
}

.footer-newsletter .form-control:-ms-input-placeholder {
    color: #737373;
}

.footer-newsletter .form-control::-webkit-input-placeholder {
    color: #737373;
}

.footer-newsletter {
    display: block;
    margin-top: 30px;
}

.footer-newsletter .btn {
    text-transform: uppercase;
    font-size: 14px!important;
    border-radius: 0 3px 3px 0!important;
    height: 46px!important;
    position: absolute!important;
    z-index: 100!important;
    top: 0!important;
    right: 0!important;
    margin-top: 0px!important;
    border-color: #4d980e !important;
}

.footer-newsletter .form-control {
    border-radius: 0!important;
    background-color: #262626!important;
    border-color: #2c2c2c!important;
    box-shadow: none!important;
    font-size: 14px!important;
    height: 46px!important;
    padding: 10px 16px!important;
}


/*------------------------------------------------------------------
    10. SLIDER
-------------------------------------------------------------------*/

.metis .tp-bullet,
.metis .tp-bullet.selected,
.metis .tp-bullet:hover {
    padding: 3px !important;
    box-shadow: none !important;
    background-color: #212121 !important;
    background-image: none !important;
}

.btn, .comment-reply-link {
    border-radius: 4px !important;
}


/*------------------------------------------------------------------
    11. MODULES
-------------------------------------------------------------------*/

.team-members .small-title h4 {
    padding: 0 0 10px;
}

.team-members small {
    display: block;
    margin-top: 20px;
}

.team-members .testi-widget small {
    margin-top: 0;
}

.testi-widget {
    padding: 30px;
    position: relative;
    background-color: #f1edea;
}

.testi-widget {
    background-color: #ffffff;
}

.testi-widget img {
    background-color: #f1edea!important;
}

.testi-widget img {
    top: -60px;
    background-color: #fff;
    padding: 8px;
    max-width: 80px;
    position: absolute;
    right: 0;
}

.box {
    padding: 11em 0em;
    border: 1px solid #efefef;
    display: block;
    border-radius: 6px;
    width: 100%;
    margin-top: -2px;
    color: black;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1));
    background-size: 100% 202%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hoverbox {
    border-radius: 6px;
}

.box i {
    display: block;
    margin: auto;
    font-size: 28px;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.box-content {
    position: absolute;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 48%;
    right: 0;
    margin: -20px auto;
}

.box .box-back {
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 40%;
    right: 0;
    margin: -20px auto;
}

.box .box-back p {
    color: #ffffff;
    padding: 0 30px;
}

.box h2 {
    color: #ffffff;
    padding: 10px;
    margin: 10px 0 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 1;
    font-size: 18px;
}

.box:hover {
    background-position: 100% 100%;
}

.box:hover .box-back {
    opacity: 1;
    display: block;
    top: 55% !important;
}

.box:hover .box-content {
    top: 30%;
}

hr.custom {
    border-style: dashed;
    margin: 40px 0;
}

.about-widget p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.col-md-6 .about-widget p {
    padding-bottom: 10px;
}

.about-widget .btn {
    margin-top: 10px;
}

.magnifier .st {
    color: #ffffff !important;
    display: block;
    display: inline-block !important;
    float: none !important;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    text-align: center;
    width: 35px;
    width: 35px;
}

.magnifier .buttons {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 54%;
    margin-top: -20px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.magnifier:hover .buttons {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.entry {
    position: relative;
}

.entry:hover .magnifier {
    opacity: 1;
    visibility: visible;
}

.magnifier {
    background: #222222;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border-radius: 6px;
}


/*------------------------------------------------------------------
    12. FOOTER
-------------------------------------------------------------------*/

.footer {
    padding: 90px 0;
    background-color: #212121;
}

.footer small {
    color: #666 !important;
    margin-top: 5px !important;
}

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    padding: 45px 0;
    display: block;
    position: relative;
    background-color: #212121;
}

div.grass {
    background: rgba(0, 0, 0, 0) url("images/footer-grass.png") repeat-x scroll 0 0;
    bottom: 0;
    height: 94px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 7010;
}

.footer-newsletter .form-control,
.topbar p,
.topbar li,
.topbar a,
.da-thumbs .pitem a div h3 small,
.copyrights li a,
.copyrights p,
.twitter-posts h3,
.footer small,
.footer li,
.footer p {
    color: #838383;
}

.copyrights li a,
.copyrights p {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
}

.copyrights p {
    padding-bottom: 0;
}

.copyrights ul li {
    margin: 0 5px !important;
    padding: 0 !important;
}

.copyrights ul {
    padding: 0 !important;
    margin: 0 !important;
}

.btn-default,
.btn-primary, .comment-reply-link {
    background-color: #212121;
    border: 2px solid #212121;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 30px;
}

.btn-group-xs > .btn,
.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.btn-group-sm > .btn,
.btn-sm, .comment-reply-link {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.btn-group-lg > .btn,
.btn-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 36px;
}

/*------------------------------------------------------------------
    13. SHOP
-------------------------------------------------------------------*/

.shop_single_page .product_details .product_top_section .img_holder {
    background: #f1edea;
    position: relative;
}

.shop_single_page .tab-content {
    border-left: 1px solid #f1edea;
    border-right: 1px solid #f1edea;
    border-bottom: 1px solid #f1edea;
}

.shop_single_page .product_details .product_top_section .img_holder:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.shop_single_page .product_details .product_top_section:hover .img_holder:before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.shop_single_page .product_details .product_top_section .img_holder img,
.shop_single_page .product_details .product_top_section .img_holder:before {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;
}

.shop_single_page .product_details .product_top_section:hover .img_holder img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.shop_single_page .product_details .product_top_section .item_description {
    margin-top: -3px;
}

.shop_single_page .product_details .product_top_section .item_description>h4 {
    font-size: 24px;
}

.shop_single_page .product_details .product_top_section .item_description>ul>li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 9px;
    margin-bottom: 9px;
    color: #9e9e9e;
}

.shop_single_page .rating {
    margin-bottom: 20px !important;
}

.shop_single_page .product_details .product_top_section .item_description .item_price {
    font-size: 24px;
    line-height: 1;
}

.shop_single_page .product_details .product_top_section .item_description>p {
    border-top: 1px solid #f1edea;
    border-bottom: 1px solid #f1edea;
    padding: 17px 0;
    margin: 10px 0;
}

.shop_single_page .product_details .product_top_section .item_description .check_location {
    display: block;
    color: #1e2126;
    margin: 15px 0 15px 0;
}

.shop_single_page .product_details .product_top_section .item_description>div {
    margin-bottom: 33px;
}

.shop_single_page .product_details .product_top_section .item_description>div input {
    width: 160px;
    height: 40px;
    border: 1px solid #f1edea;
    border-radius: 2px;
    padding-left: 10px;
    margin-right: 10px;
    color: #9e9e9e;
}

.shop_single_page .shop-button {
    margin-left: 10px;
}

.shop_single_page .product_details .product_top_section .item_description>div button {
    width: 84px;
    line-height: 40px;
    background: #f7f7f7;
    text-align: center;
    font-size: 14px;
    color: #9e9e9e;
    text-transform: uppercase;
    margin-left: 9px;
    margin-right: 8px;
}

/*.shop_single_page .product_details .product_top_section .item_description>div span {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    line-height: 40px;
}*/

.shop_single_page .product_details .product_top_section .item_description>input[type="number"] {
    display: inline-block;
    height: 47px;
    width: 70px;
    border: 1px solid #f1edea;
    padding-left: 15px;
    vertical-align: bottom;
    font-size: 18px;
}

.shop_single_page .product_details .product_top_section {
    margin-bottom: 79px;
}

.shop_single_page .nav-pills {
    background-color: #f1edea;
    padding: 10px;
    border: 5px solid #e0dcd9 !important;
}

.shop_single_page .product_details .product-review-tab .nav li a {
    width: 135px;
    line-height: 45px;
    padding: 5px 20px;
    border-radius: 0;
    border: 2px solid #e0dcd9 !important;
    background: #e0dcd9 !important;
    color: #1e2126 !important;
    text-align: center;
    margin-right: 8px;
}

.shop_single_page .comment-list {
    list-style: none;
    padding: 0;
}

.shop_single_page .comments .lightversion .form-control {
    margin-bottom: 0 !important;
}

.shop_single_page .comment-list h3 {
    padding-bottom: 8px;
}

.shop_single_page .comment-list small {
    font-size: 14px;
    font-style: italic;
    color: #999999;
    display: block;
    padding: 0 0 8px;
}

.author-details img {}

.author-details h3 {
    font-size: 20px;
}

.about-author {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f4f4f4;
}

.author-details img {
    max-width: 90px;
    margin: 10px 30px 40px 0;
}

.shop_single_page .comment-list li.reply {
    padding-left: 60px;
}

.shop_single_page .comment-list li {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f4f4f4;
}

.shop_single_page .comment-list .rating {
    position: absolute;
    right: 0;
    top: 0;
}

.shop_single_page .product_details .product-review-tab .tab-content {
    padding: 30px!important;
}

.shop_single_page .product_details .product-review-tab .nav li.active a {
    color: #fff;
    background: #f4f4f4;
}

.shop_single_page .product_details .product-review-tab .nav {
    border-bottom: 1px solid #f4f4f4;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text {
    padding-left: 30px;
    width: 91%;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .sec_up span,
.shop_single_page .product_details .product-review-tab .item_review_content .text .sec_up ul {
    display: inline-block;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .sec_up>div {
    margin-top: -6px;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .sec_up ul li {
    display: inline-block;
    margin-left: 2px;
    font-size: 12px;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .sec_up span {
    margin-right: 7px;
    font-size: 14px;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text>p {
    margin: 18px 0 10px 0;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .up_down_nav,
.shop_single_page .product_details .product-review-tab .item_review_content .text .reply_share_area {
    display: inline-block;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .up_down_nav a {
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px 0 0;
    margin-right: 5px;
    color: #9e9e9e;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .up_down_nav a:first-child {
    border-right: 1px solid #f7f7f7;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .reply_share_area a {
    font-size: 14px;
    color: #9e9e9e;
    padding-right: 15px;
    margin-right: 10px;
    position: relative;
}

.shop_single_page .product_details .product-review-tab .item_review_content .text .reply_share_area a:first-child:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #f7f7f7;
    position: absolute;
    top: 7px;
    right: 0;
}

.shop_single_page .product_details .product-review-tab .item_review_content {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.shop_single_page .product_details .product-review-tab .add_your_review {
    margin: 20px 0 20px 0;
}

.shop_single_page .product_details .product-review-tab .add_your_review>span {
    display: block;
    margin: 36px 0 14px 0;
}

.shop_single_page .product_details .product-review-tab .add_your_review ul,
.shop_single_page .product_details .product-review-tab .add_your_review ul li {
    display: inline-block;
}

.tab-pane .section-title {
    margin-top: 0 !important;
}

.theme_title h3 {
    line-height: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.shop_single_page .product_details .product-review-tab .add_your_review ul li {
    font-size: 12px;
    margin-right: 3px;
    color: #dbdbdb;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shop_single_page .product_details .product-review-tab .add_your_review ul {
    line-height: 20px;
    padding: 0;
    border-right: 1px solid #dbdbdb;
    padding-right: 10px;
    margin-right: 10px;
}

.shop_single_page .product_details .product-review-tab .add_your_review ul.fix_border {
    border: none;
}

.shop_single_page .product_details .product-review-tab .add_your_review form {
    margin-top: 31px;
}

.shop_single_page .product_details .product-review-tab .add_your_review form input {
    height: 54px;
    padding: 0 15px 0 19px;
}

.shop_single_page .product_details .product-review-tab .add_your_review form textarea {
    max-width: 100%;
    min-height: 165px;
    padding: 15px 17px 5px 19px;
}

.shop_single_page .product_details .btn {
    font-size: 14px;
    margin: 0 !important;
    padding: 10px 30px;
}

.wishlist-form img {
    max-width: 80px;
}

.wishlist-form .panel-heading {
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
}

.wishlist-form .panel-heading a {
    font-style: normal !important;
}

.wishlist-form strong, .woocommerce form label {
    display: inline-block;
    margin-bottom: 10px;
}
.woocommerce form label{
    color: #121212;
}

.wishlist-form .form-control, .woocommerce input {
    background-color: #fff;
    border-color: #f1edea !important;
    box-shadow: none !important;
    margin-bottom: 5px!important;
    height: 40px;
}
.woocommerce input, .woocommerce textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.woocommerce input[type="checkbox"]{
    width: auto;
}
.woocommerce input[type="submit"]{
    width: auto;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px 30px;
    opacity: 1;
    padding-bottom: 32px;
    color: #ffffff;
}
.woocommerce input[type="submit"].st, .woocommerce .cart input.button{
    background-color: #de7000 !important;
    border-color: #de7000 !important;
}
.account_page form {
    background: #f1edea;
    border: 1px solid rgba(237, 237, 237, 0.77)!important;
    border-radius: 3px!important;
    padding: 33px 33px 35px 35px;
    margin-top: 40px;
}

.account_page form .input_group {
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

.account_page form .input_group input {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    color: #9e9e9e;
    padding: 0 38px 0 15px;
    font-size: 14px;
}

.account_page form .input_group i {
    line-height: 40px;
    color: #9e9e9e;
    position: absolute;
    top: 0;
    right: 15px;
}

.account_page form label {
    font-weight: normal;
    color: #1e2126;
    padding-bottom: 10px;
    line-height: 1;
    font-size: 16px;
    position: relative;
}

.account_page .single_checkbox {
    margin-top: 7px;
}

.account_page a {
    margin-top: 10px;
    font-size: 14px;
}

.account_page .single_checkbox label {
    color: #9e9e9e;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 28px;
    margin: 0;
    -webkit-user-select: none;
}

.account_page .single_checkbox input[type="checkbox"] {
    display: none;
}

.account_page .single_checkbox label:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #fbfbfb;
    border: 1px solid #e3e6e9;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(174, 174, 174, 0.21);
    -moz-box-shadow: inset 0px 0px 1px 0px rgba(174, 174, 174, 0.21);
    box-shadow: inset 0px 0px 1px 0px rgba(174, 174, 174, 0.21);
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

.account_page .single_checkbox input[type="checkbox"]:checked + label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    left: 0;
    top: 0;
}

.account_page form button {
    margin-top: 20px;
}

.shoppanel .panel {
    border: 0;
}

.shoppanel .panel-heading {
    background: #f1edea none repeat scroll 0 0 !important;
    border-radius: 0 !important;
    border: 4px solid #e1ddda;
    color: #121212;
    margin-bottom: 21px;
}

.wishlist-form strong,
.shoppanel .panel-info > .panel-heading {
    color: #121212;
}

.shoppanel .panel h6 {
    font-size: 18px;
}

.shoppanel .panel h6,
.shoppanel .panel h4 {
    font-weight: 700;
    padding: 20px 0 0;
}

.shop-top {
    margin-top: 5em;
}

.shop-top {
    margin-bottom: 2em;
}

.shop-top p {
    padding: 0;
    margin: 10px 0 0;
}

.shop-meta {
    position: relative;
    display: block;
    margin: 15px 0 0;
    text-align: center;
}

.shop-meta small {
    font-size: 17px;
}

.shop-wrapper .magnifier .st:hover,
.shop-wrapper .magnifier .st:focus,
.shop-wrapper .magnifier .st {
    width: auto !important;
    height: auto !important;
    background-color: transparent !important;
    font-size: 28px;
}

.img-thumbnail {
    background-color: #f9f9f9;
    padding: 4px;
    border: 0;
}

.shop-list .col-md-3 {
    margin-bottom: 30px;
}


/*------------------------------------------------------------------
    14. MISC
-------------------------------------------------------------------*/

select.bs-select-hidden,
select.selectpicker {
    display: none;
}
select.selectpicker{
    display: block;
}
.bootstrap-select {
    width: 220px \0;
    /*IE9 and below*/
}

.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #999;
}

.bootstrap-select > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
}

.bootstrap-select > select.mobile-device {
    top: 0;
    left: 0;
    display: block !important;
    width: 100% !important;
    z-index: 2;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}

.bootstrap-select.fit-width {
    width: auto !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}

.bootstrap-select.btn-group.bs-container {
    position: absolute;
    height: 0 !important;
    padding: 0 !important;
}

.bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.bootstrap-select.btn-group .dropdown-toggle .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -6px;
    vertical-align: middle;
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .fa-angle-down {
    position: static;
    top: auto;
    margin-top: -1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}

.bs-actionsbox {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
    width: 50%;
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-donebutton .btn-group button {
    width: 100%;
}

.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
}

.workinghours ul {
    padding: 0;
    list-style: none;
}

.workinghours i {
    margin-right: 10px;
}

.workinghours li {
    margin-bottom: 10px;
    color: #999999;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
}

.workinghours li span {
    position: absolute;
    right: 0;
}

.workinghours li:first-child {
    padding-top: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.1)
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info,
.appointment_form .form-control {
    border-radius: 3px;
    height: 50px;
    background-color: #ffffff !important;
    padding: 10px;
    border: 1px solid #ededed;
    box-shadow: none !important;
    color: #999999 !important;
    box-shadow: none;
    margin-bottom: 30px!important;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info {
    margin-bottom: 0;
}

.appointment_form .dropdown-menu {
    border-radius: 0;
    border: 1px solid #f1edea !important;
    box-shadow: none;
}

.appointment_form .dropdown-menu > li > a:focus,
.appointment_form .dropdown-menu > li > a:hover {
    background-color: #f1edea;
}

.appointment_form textarea {
    height: 140px !important;
}

.appointment_form .dropdown-menu {
    border: 0;
}

.db .appointment_form .btn-info:hover,
.db .appointment_form .btn-info:focus,
.db .appointment_form .btn-info,
.db .appointment_form .form-control {
    background-color: #262626 !important;
    border-color: #333;
}

.db .workinghours li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1)
}

.db .workinghours li:first-child {
    border-top: 1px dashed rgba(255, 255, 255, 0.1)
}

.loader {
    display: block;
    margin: 20px auto 0;
    vertical-align: middle;
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 11000;
    position: fixed;
    display: block
}

.preloader {
    position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 45%;
    width: 95px;
    height: 95px;
    background: center center no-repeat none;
    background-size: 95px 95px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.global-radius {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.message-box .nav-pills {
    text-align: left !important;
    border-radius: 0;
}

.message-box .nav-pills > li > a {
    background-color: #f1edea;
    border-radius: 0 !important;
    text-align: left;
}

.message-box .nav-pills > li {
    text-align: left !important;
    float: none;
    margin: 0 !important;
    padding: 5px;
    width: 100%;
}


/*------------------------------------------------------------------
    15. RESPONSIVE
-------------------------------------------------------------------*/

@media (max-width: 1008px) {
    .pricing-box-03 {
        text-align: center !important;
    }
    .pricing-box-03::before,
    .pricing-box-03.leftbg::after {
        display: none !important;
    }
    .pagenot h2 {
        font-size: 100px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .header .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .header .hasmenu:hover > ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .header .navbar-nav .hasmenu ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .header .hasmenu .dropdown-menu {
        min-width: 220px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .header .hasmenu > ul {
        position: absolute;
        top: 130%;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 0;
    }
    .header .hasmenu > ul.start-right {
        right: 0;
        left: auto;
    }
    .header .hasmenu > ul li {
        position: relative;
    }
    .header .hasmenu > ul li:hover > ul {
        visibility: visible;
        opacity: 1;
        left: 100%;
    }
    .header .hasmenu > ul li:hover > ul.show-right {
        right: 100%;
    }
    .header .navbar-nav .has-submenu {
        position: relative;
    }
    .header .navbar-nav .has-submenu:hover > ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .header .navbar-nav .has-submenu:hover > ul li ul {
        margin-top: -1px;
    }
    .header .navbar-nav .has-submenu ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .header .navbar-nav .has-submenu .dropdown-menu {
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .header .navbar-nav .has-submenu > ul {
        position: absolute;
        top: 130%;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 0;
    }
    .header .navbar-nav .has-submenu > ul.start-right {
        right: 0;
        left: auto;
    }
    .header .navbar-nav .has-submenu > ul li {
        position: relative;
    }
    .header .navbar-nav .has-submenu > ul li:hover > ul {
        visibility: visible;
        opacity: 1;
        top:2%;
        left: 100%;
    }
    .header .navbar-nav .has-submenu > ul li:hover > ul li a {
        color:#979797 !important;
    }
    .header .navbar-nav .has-submenu > ul li:hover > ul.show-right {
        right: 100%;
    }
    .header .navbar-nav .has-submenu > ul li ul {
        position: absolute;
        top: 0;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 130%;
    }
    .header .navbar-nav .has-submenu > ul li ul.show-right {
        right: 130%;
        left: auto;
    }
}


@media (max-width: 991px) {

    .post-media img {
        width: 100%;
    }
    .widget,
    .shop-wrapper,
    .workinghours,
    .hoverbox,
    .about-widget {
        margin: 15px 0;
    }
    .navbar-brand {
        width: auto;
        display: block;
        margin:0 auto 10px;
        width: 100%;
        float:none;
        text-align: center;
    }
    .navbar-brand > img {
        margin:auto;
    }
    .container {
        min-width: 90%;
    }
}
@media (max-width: 768px) {
    .navbar-nav > li {
        border:0;
    }
    .section-title h3, .big-title h3 {
        font-size: 24px;
    }
    .lead {
        font-size:13px;
    }
    .copyrights .text-right,
    .copyrights .text-left,
    .copyrights {
        text-align: center;
    }
    .btn-info:active:hover,
    .btn-info.active:hover,
    .open > .dropdown-toggle.btn-info:hover,
    .btn-info:active:focus,
    .btn-info.active:focus,
    .open > .dropdown-toggle.btn-info:focus,
    .btn-info:active.focus,
    .btn-info.active.focus,
    .open > .dropdown-toggle.btn-info.focus,
    .appointment_form .btn-info:hover,
    .appointment_form .btn-info:focus,
    .appointment_form .btn-info,
    .appointment_form .form-control {
        margin-bottom: 30px !important;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #ffffff;
    }

    .navbar-toggle {
        color:#ffffff;
        background-color: #ffffff;
    }
}

/*
* NEW GIVEN CSS
*
*/

.sidebar ul {

list-style:none;

padding:0

}

 

.sidebar ul li {

margin-bottom:7px;

}

.sidebar ul li:last-child {

margin-bottom:0

}

.sidebar img {

max-width:100%;

}

.sidebar select {

    background-color: #f1edea;

    border: 1px solid #ededed;

    display: block;

    height: 40px;

    padding-left: 10px;

    text-transform: none;

    width: 100%;

}

.sidebar .wp-caption.alignnone {

    margin: 0 0 20px;

}

 

.tagcloud a {

    background: #f1edea none repeat scroll 0 0;

    border: 0 none;

    border-radius: 3px;

    display: inline-block;

    font-size: 12px;

    margin: 0 0 5px;

    padding: 4px 16px;

}

 

.widget_calendar {float: left;}

#wp-calendar {width: 100%; }

#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }

#wp-calendar thead { font-size: 10px; }

#wp-calendar thead th { padding-bottom: 10px; }

#wp-calendar tbody { color: #aaa; }

#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}

#wp-calendar tbody td:hover { background: #fff; }

#wp-calendar tbody .pad { background: none; }

#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }

#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }


.footer ul {

    list-style: none;

    padding: 0

}



.footer ul li {

    margin-bottom: 7px;

}



.footer ul li:last-child {

    margin-bottom: 0

}



.footer img {

    max-width: 100%;

}



.footer select {

    background-color: #f1edea;

    border: 1px solid #ededed;

    display: block;

    height: 40px;

    padding-left: 10px;

    text-transform: none;

    width: 100%;

}



.footer .wp-caption.alignnone {

    margin: 0 0 20px;

}

.navbar .dropdown-menu .dropdown-menu,

.navbar .dropdown-menu .dropdown-menu li a,

.navbar .dropdown-menu .dropdown-menu li  {background-color:#212121 !important; border:0 !important;}
/*
* CUSTOM CSSS
*
*/

.gallery-caption, .bypostauthor{}
.sticky{}
.wpb_gmaps_widget .wpb_wrapper{
    padding: 0px!important;
}
.wpb_gmaps_widget.wpb_content_element{
    margin-bottom: 0px!important;
}
.wpb_wrapper .team-members:not(:first-child){
    margin-top: 40px;
}

.wpb_wrapper .team-members:last-child{
    margin-bottom: 60px;
}
.wpb_wrapper .team-members:first-child{
    margin-bottom: 0px;
}
.vc_separator.custom{
    margin: 40px 0;
}
.woocommerce span.onsale{
    left: 0;
    z-index: 100;
}
.shop-wrapper .star-rating{
    margin: 0 auto;
    float: none!important;
    margin-bottom: 10px;
    margin-top: 10px;
}
.woocommerce div.product .woocommerce-product-rating{
    margin-bottom: 20px;
}
.woocommerce div.product p.price{
    font-size: 24px!important;
    line-height: 1;
    color: #7dc01c!important;
}

.vc_col-sm-6 .about-widget p{
    margin-bottom: 10px;
}

#content img{
	max-width:100%;
}
.woocommerce #comment-reply{
    color:#000000;
}

.rpwwt-widget ul li img{
    margin: 10px 20px 20px 0!important;
}
.rpwwt-post-title{
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3px;
    display: block;
    text-transform: none;
}

footer a{
    color:#ffffff;
}