    /*
    Flaticon icon font: Flaticon
    Creation date: 04/10/2016 00:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-clock:before { content: "\f100"; }
.flaticon-contact-form:before { content: "\f101"; }
.flaticon-envelope:before { content: "\f102"; }
.flaticon-fence:before { content: "\f103"; }
.flaticon-forest:before { content: "\f104"; }
.flaticon-gardening:before { content: "\f105"; }
.flaticon-house:before { content: "\f106"; }
.flaticon-link:before { content: "\f107"; }
.flaticon-people:before { content: "\f108"; }
.flaticon-phone-call:before { content: "\f109"; }
.flaticon-placeholder:before { content: "\f10a"; }
.flaticon-shop:before { content: "\f10b"; }
.flaticon-shovel:before { content: "\f10c"; }
.flaticon-shovel-1:before { content: "\f10d"; }
.flaticon-sprout:before { content: "\f10e"; }
.flaticon-swimming-pool:before { content: "\f10f"; }
.flaticon-tree-leaf:before { content: "\f110"; }
    
    $font-Flaticon-clock: "\f100";
    $font-Flaticon-contact-form: "\f101";
    $font-Flaticon-envelope: "\f102";
    $font-Flaticon-fence: "\f103";
    $font-Flaticon-forest: "\f104";
    $font-Flaticon-gardening: "\f105";
    $font-Flaticon-house: "\f106";
    $font-Flaticon-link: "\f107";
    $font-Flaticon-people: "\f108";
    $font-Flaticon-phone-call: "\f109";
    $font-Flaticon-placeholder: "\f10a";
    $font-Flaticon-shop: "\f10b";
    $font-Flaticon-shovel: "\f10c";
    $font-Flaticon-shovel-1: "\f10d";
    $font-Flaticon-sprout: "\f10e";
    $font-Flaticon-swimming-pool: "\f10f";
    $font-Flaticon-tree-leaf: "\f110";